<div class="collection__details">
    <h1 class="collection__heading">{{ collection.title }}</h1>
    <h2 class="collection__description">{{ page_description }}</h2>
</div>

<div class="collection__filters">
    <select class="collection__filter" id="sort_by" name="sorting">
        {% for option in collection.sort_options %}
            <option value="{{ option.value }}" {% if option.value == collection.sort_by %} selected {% endif %}>{{ option.name }}</option>
        {% endfor %}
    </select>
</div>

{% paginate collection.products by 8 %}
    <div class="collection__product--grid">
        {% for product in collection.products %}
            <div class="product--card">
                <a href="{{ product.url | within: collection }}">
                    <img src="{{ product.featured_image.src | img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}">
                </a>
                <div class="collection__product--details">
                    <a class="collection__product--title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
                    <span class="collection__product--price">{{ product.price | money }}</span>
                    {% unless product.available %}<br><strong>sold out</strong>
                    {% endunless %}
                </div>
            </div>
        {% else %}
            <p>no matches</p>
        {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
        <div class="pagination">
            {% if paginate.previous.is_link %}
                <a href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>
            {% endif %}
            <span class="pagination__text">{{ paginate.current_page }}
                of
                {{ paginate.pages }}</span>
            {% if paginate.next.is_link %}
                <a href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
            {% endif %}
        </div>
    {% endif %}
{% endpaginate %}